$font-color: grey;

.mt25 {
    margin-top: 25px;
}

body {
    color: $font-color;

    .container {
        margin-top: 30px;
    }
    .section-header {
        font-size: 1.3rem;
    }
    .icon-star {
        font-size: 12px;
        color: red;
        vertical-align: top;
    }
    
    .nav-wrapper {
        .brand-logo {
            padding: 10px;
        }
        .logout {
            width: 50px;
            text-align: center;
        }
        &.second-nav {
            background-color: white;
            li {
                a {
                    color: $font-color;
                    text-align: center;
                }
                &.backoffice-tab {
                    width: 50%;  
                }
                &.frontoffice-tab {
                    width: 25%;
                }
            }
        }
    }
    .card {
        .card-image {
            height: 220px;

            img {
                position: fixed; 
                top: -5%; 
                left: 0; 
                min-width: 100%;
                min-height: 100%;
            }
            
        }

        .card-action {
            padding: 15px;
        }
    }

    .modal {
        .role-label {
            font-size: 1rem;
        }
        img {
            &.responsive-img {
                max-width: 18%;
            }
        }
    }

    .tire-tab {
        img {
            &.responsive-img {
                max-width: 18%;
            }
        }
    }
}