$font-color: grey;

.mt25 {
    margin-top: 25px;
}

body {
    color: $font-color;
    
    .nav-wrapper {
        .brand-logo {
            padding: 10px;
        }
        .logout {
            width: 50px;
            text-align: center;
        }
        &.second-nav {
            background-color: white;
            li {
                width: 50%;
                a {
                    color: $font-color;
                    text-align: center;
                }
            }
        }
    }
    .card {
        .card-image {
            height: 220px;

            img {
                position: fixed; 
                top: -5%; 
                left: 0; 
                min-width: 100%;
                min-height: 100%;
            }
            
        }

        .card-action {
            padding: 15px;
        }
    }

    .modal {
        .icon-star {
            font-size: 12px;
            color: red;
            vertical-align: top;
        }
        .role-label {
            font-size: 1rem;
        }
        img {
            &.responsive-img {
                max-width: 18%;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    
    .container {
        margin-top: 20px;
    }
}